
.work-sans-normal {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-variation-settings: "width" 100;
}

/* shared style */
.text-primary{
    color: #FD6E0A;
}

.dark-2{
    color: #474747;
}
.btn-primary{
    background: #FD6E0A;
    font-weight: bold;
    color: white;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}
/* Nav Style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav ul li{
    list-style: none;
    margin-right: 51px;
}

nav li a{
    text-decoration: none;
    font-size: 20px;
    
}
nav ul{
    display: flex;
    align-items: center;
}