
.work-sans-normal {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-variation-settings: "width" 100;
}

/* shared style */
.secondary-bg{
    background-color: #FFF8F3;
}

.text-primary{
    color: #FD6E0A;
}

.dark-2{
    color: #474747;
}
.btn-primary{
    background: #FD6E0A;
    font-weight: bold;
    color: white;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}
/*Header*/
.header{
    background-image:url(../images/developer.png),url(../images/header_bg.png);
    background-position: top left,bottom right;
    background-repeat: no-repeat;
}
/* Nav Style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav ul li{
    list-style: none;
    margin-right: 51px;
}

nav li a{
    text-decoration: none;
    font-size: 20px;
    
}
nav ul{
    display: flex;
    align-items: center;
}

/*Banner-greetings Style*/
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 35px 0 230px;
    
}

.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}

.banner-title{
    font-size: 85px;
    font-weight: bold;
}   

.banner-description{
    font-size: 18px;
}
.banner-profile-pic{
    width: 584px;
    height: 676px;
}
.banner-content{
    max-width: 580px;;
}

.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.section-description{
    font-size: 18px;
    color: #757575; 
}
/* main style */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* about style */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}
.about-items{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.item-description{
    font-weight: 600;
    
}
.skills-container{
    display: flex;
    gap: 24px;;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
.skills{
    text-align: center;
}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px #000000;
    border-radius: 5px;
}

/* resume section */


.resume-container{
    display: flex;
    gap: 24px;
}
.experience-sub-title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.experience-description, .experience-sub-title{
    color: #757575;
}
h3.section-title {
    text-align: center;
}

.resume hr{
    margin: 30px 5px;
    
}
.resume-actions{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}


/* footer style */


.footer-social-icons{
    display: flex;
    gap: 20px;
}

footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;

}

.footer-column{
    width: 50%;
}

footer input[type="text"], footer input[type="email"], footer textarea{
height: 60px;
width: 100%;
border-radius: 5px;
background-color: white;
border: none;
display: block;
width: 100%;
padding: 10px 20px;
margin-bottom: 24px;

}